<p id="notice"><%= notice %></p>

<div class="container-fluid">

<div class="row">
  <div class="col-md-7">
    <h2>What's on your mind?</h2>
    <%= render 'form' %>

    <h1>Twattling Your Twiddling Tweets</h1><br />
        <% @tweets.each do |tweet| %>
        <div class="panel panel-default">
            <div class="panel-body">
              <strong><%= link_to tweet.user.name, profile_path(tweet.user) %></strong> <%= tweet.user.username %> tweetled <%= time_ago_in_words(tweet.created_at) %> ago:<br />
              <h3><%= tweet.message %></h3>
              <% if tweet.avatar_file_name != nil %>
                <%= image_tag tweet.avatar.url(:medium), class: "img-responsive" %>
              <% end %>
            </div>
            <% if current_user.id == tweet.user.id %>
            <div class="panel-footer">
              <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary" %> |
              <%= link_to 'Delete', tweet, class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
            <% end %>
          </div>
      <% end %>
  </div>
</div>
</div>
